html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='description', content='my website or smth')
		meta(name='keywords', content='riviox, rust, pug, website, code, github, flash')
		meta(name='author', content='riviox')
		meta(name='viewport', content='width=device-width,initial-scale=1')
		title riviox
		script(src="https://cdn.jsdelivr.net/npm/emoji-toolkit@8.0.0/lib/js/joypixels.min.js")
		script(src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/emoji-toolkit@8.0.0/extras/css/joypixels.min.css")
		link(rel="stylesheet", href="style.css")
	body
		.main
			h1 riviox
			#info
				txt#pronouns he/him
				txt#bio human
				txt#bio :crab: rust dev
				txt#bio from :pl:
			.btns 
				a(href="https://www.reddit.com/u/rivioxx/")#btn reddit
				a(href="https://discordapp.com/users/1200520669570539620") discord
				a(href="https://github.com/riviox") github
	script(src='script.js')
	script.
		$(document).ready(function() {
			$(".main").each(function() {
				var original = $(this).html();
				var converted = joypixels.toImage(original);
				$(this).html(converted);
			});
		});
