body {
  background-color: #E8B0B4;
  color: #ffff;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", monospace;
  width: 100%;
}
body .main {
  width: 100%;
  padding-top: 3vh;
  text-align: center;
}
body .main #info a {
  color: #D09AA1;
  text-decoration: none;
}
body .main #info #bio {
  background-color: #D09AA1;
  padding: 5px;
  border-radius: 5px;
}
body .main #discord {
  margin: 15px;
  background-color: #D09AA1;
  border-radius: 5px;
}
body .main #avatar {
  border-radius: 15px;
  height: 25%;
}
body .main .btns {
  padding-top: 2vh;
}
body .main .btns a {
  color: inherit;
  text-decoration: none;
  background-color: #D09AA1;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 4px;
}
body .main h1 {
  color: #D09AA1;
}