html {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #131020;
    background-image: url(/assets/img/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    font-family: monospace;
    font-size: large;
    color: white;
    user-select: none;
}

#pfp {
    border-radius: 2rem;
    border: 2px;
    border-color: rgba(0, 255, 255, 0.445);
    border-style: solid;
    margin-right: 1.5rem;
}

#rpc {
    top: 60%;
    display: none;
}

#skills {
    display: none;
}

#links {
    max-height: 40%;
    overflow-y: scroll;
}

#icon img {
    height: 50px;
    background-color: rgba(44, 44, 44, 0.5);
    padding: 5px;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    border: 2px;
    border-color: rgba(0, 255, 255, 0.445);
    border-style: solid;
}

.window {
    background-color: rgba(0, 0, 0, 0.1);
    width: fit-content;
    padding: 15px;
    border-radius: 1.1rem;
    border: 3px;
    border-color: rgba(0, 255, 255, 0.445);
    border-style: solid;
    backdrop-filter: blur(5px);
    margin: 1.5rem;
    cursor: grab;
    position: absolute;
}

.window#links {
    top: 55vh;
    display: none;
}

.hide-button {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(235, 89, 89, 0.808);
    border-radius: 2rem;
    padding-left: 5px;
    padding-right: 5px;
    margin: 6px;
}

.window .content {
    pointer-events: none;
}

#terminal {
    display: none;
}

.window.dragging {
    cursor: grabbing;
}

#neofetch {
    color: white;
    font-size: 0.74rem;
    font-weight: 500;
}

.nav {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}

.nav ul {
    display: flex;
}

li {
    margin-right: 15px;
    margin-left: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

#links a {
    color: rgb(43, 168, 226);
}

@media screen and (max-width: 768px) {
    body {
        font-size: medium;
    }

    .window {
        margin: 1rem;
    }

    #icon img {
        height: 40px;
    }

    .nav {
        flex-direction: row; 
        margin-top: 0; 
    }

    #links {
        top: 50vh;
    }
}
