body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #36393f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#content.discord-profile {
    text-align: center;
    background-color: #2f3136;
    border-radius: 15px;
    width: fit-content;
    color: #fff;
    z-index: 2;
    position: relative;
    padding: 20px;
}

.profile-header {
    text-align: left;
}


#discord-banner {
    width: 100%;
    border-radius: 12px;
}

#discord-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #2f3136;
    margin-top: -50px;
    margin-left: 20px;
}

.profile-info {
    text-align: left;
    margin-top: 10px;
    margin-left: 20px;
}

#discord-tag {
    font-size: 18px;
}

.bio {
    margin-top: 10px;
}

.discord-social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.discord-social-links a {
    color: #7289da;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.discord-social-links a:hover {
    color: #ffffff;
}

#projects-list {
    list-style: none;
    padding: 0;
    overflow-x: auto;
    max-height: 200px;
    white-space: nowrap;
}

#projects-container {
    display: flex;
}

#projects-list li {
    margin: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

#projects-list li:hover {
    background-color: #555;
}

#projects-list a {
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
}

#projects-list a i {
    margin-right: 8px;
}

#projects-list a:hover {
    color: #2980b9;
}

#projects-list p {
    margin-top: 10px;
    color: #888;
}

#fade {
    background-color: #24272b;
    padding: 10px;
    border-radius: 10px;
}

footer {
    margin-top: 10px;
    text-align: end;
    background-color: rgb(39, 42, 46);
    padding: 15px;
    border-radius: 10px;
}

footer a {
    color: #2980b9;
    text-decoration: none;
}

footer a:hover {
    color: #206694;
}

@media only screen and (max-width: 600px) {
    #content.discord-profile {
        width: 90%;
    }

    #discord-avatar {
        margin-left: 0;
    }

    .profile-info {
        margin-left: 0;
    }
}

#webhook a {
    background-color: #3d3d3d;
    padding: 5px;
    border-radius: 5px;
    color: #34acfc;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    display: inline-flex;
    align-items: center;
}
